torch==1.7.1
torchvision==0.8.2
torchmetrics==0.5
cython
scipy
xmltodict
tqdm
transformers==4.6
onnx
onnxruntime
prettytable
submitit
pycocotools
git+https://github.com/cocodataset/panopticapi.git
timm

